<section id="home" class="header">
    <div class="headings">
      <h1 class="main-heading">{{ name }}</h1>
      <h2 class="sub-heading">
        {{ company.designation }} <span>at</span>
        <a href="{{ company.url }}" target="_blank" title="{{ company.name }}">{{ company.name }}</a>
      </h2>
      <p class="bio">{{ bio }}</p>
    </div>

    <div class="cover">
      <img class="avatar-image" src="{{ avatarUrl }}" alt="avatar url"/>
    </div>
  </section>