<section class="header">
  <div class="headings">
    <h1 class="main-heading">{{ name }}</h1>
    <h2 class="sub-heading">
      <a href="{{ company.url }}" target="_blank" title="{{ company.name  }}">{{ company.name }}</a>
    </h2>
      <p class="bio">{{ aboutMe }}</p>
  </div>
  <img class="avatar-image" src="{{ avatarUrl }}" alt="avatar url"/>
</section>